<div class="row">
  <div class="col-auto">
  <h2> Hello {{user.name}}! </h2>
  </div>
</div>
<br>
{{#if blogs.length}}
<div class="card flex-column">
  {{#each blogs as |blog|}}
  {{> editItem}}
  {{/each}}
</div>
{{/if}}